/* Ensure elements with .hidden are properly hidden */
.hidden {
    display: none !important;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1080;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Standard backdrop */
    justify-content: center;
    align-items: center;
}



/* Bootstrap modal content styling */
.modal-content {
    padding: 20px;
    border-radius: 8px;
    min-width: 600px; /* Set minimum width */
    max-width: 90%;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Table Styling (Bootstrap will handle dark mode automatically) */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Buttons in Table */
.btn-sm {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Ensure hidden fields are properly hidden */
#queueTriggerFields,
#scheduledTriggerFields,
#singleTriggerFields {
    display: none;
}

.fixed-table-toolbar {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Reduce padding & margin for buttons in status column */
td[style="width: 20px;"] .btn {
    --bs-btn-padding-x: 0rem !important; /* Smaller padding */
    --bs-btn-padding-y: 0rem !important; 
}